<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}">
        {% endblock %}
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img alt="Brand" style="width:24px" src="{{ asset('/images/WCS.png') }}">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('groups_new') }}">Créer ton groupe d'amis <i class="fa fa-pencil-square-o"></i></a>
                </li>
                <li><a href="{{ path('groups_mine') }}">Mes groupes <i class="fa fa-users" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('cagnottes_index') }}">Mes cagnottes <i class="fa fa-eur" aria-hidden="true"></i></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Créer <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('groups_new') }}">Un groupe</a></li>
                    <li><a href="{{ path('cagnottes_new') }}"> Une cagnotte</a></li>
                  
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Éditer <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {# <li><a href="{{ path('groups_edit') }}">Un groupe</a></li> #}
                    <li><a href="#">Une cagnotte</a></li>
                   
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Se déconnecter <i class="fa fa-sign-out" aria-hidden="true"></i></a><</li>
                {% else %}
                        <a href="{{ path('user_login') }}" role="button" class="btn btn-default navbar-btn">Se connecter</a>
                        <a href="{{ path('user_register') }}" role="button" class="btn btn-warning">S'inscrire</a>
                    {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>        
        <a href="./">
           <img style="position:fixed;top:7%;left:0%;right:0%;height:100%;width:100%;z-index:-1:" src="{{ asset('/images/sea.jpg') }}"/>  
         </a>

        {% block body %}{% endblock %}
        
        {% block javascripts%}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('/js/bootstrap.min.js') }}" ></script>
        {% endblock %}
        
    </body>
</html>
