{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-offset-4">
        <h1>Création d'un groupe</h1>
    </div>
        <div class="col-md-offset-4 col-md-3 col-md-offset-4 c_group">
        <img src="{{ asset('/images/group.png') }}"  alt="flat" class="palmier" />
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn-info" />
    {{ form_end(form) }}


    
        <p>
            <a href="{{ path('groups_index') }}">Aller a la liste</a>
        </p>
    
        </div>
{% endblock %}
