{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupes</h1>

    <table>
        <tbody>
            <tr>
                <th>Numéro du groupe</th>
                <td>{{ group.id }}</td>
            </tr>
            <tr>
                <th>Nom du groupe</th>
                <td>{{ group.groupName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groups_index') }}">Retour a la liste des groupes</a>
        </li>
        <li>
            <a href="{{ path('groups_edit', { 'id': group.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
